<div id="welcome" class="container">
	<div class="row justify-content-center">
		<h1>Rand()Tune</h1>
		<h2>Connecting musicians & listeners</h2>
	</div>
	<!-- /.row -->
	
	<div class="row">
		<div class="col justify-content-center">
			<h3>Listen Now</h3>
			<a role= "button" class="btn btn-custom" href="#/newsong">New Random Song</a>
		</div>
		<div class="col justify-content-center">
			<h3>Welcome Back</h3>
			<a role= "button" class="btn btn-custom" href="/auth/google">Login with Google</a>
		</div>
	</div>
	<!-- /.row -->
</div>
<!-- /.welcome -->
